.userFormCard {
  margin-top: 40px;
}



.userFormCard form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userFormCard form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.userFormCard form label {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.userFormCard form input {
  min-width: 100%;
  border: 1px solid grey;
  padding: 10px 12px;
}

.userFormCard form button {
  border: none;
  width: 110px;
  height: 35px;
  background-color: purple;
  color: white;
  font-size: 16px;
}

.userFormCard form button:hover {
  background-color: rgb(98, 1, 98);
}

@media screen and (max-width:500px){
  .userFormCard form button {
    width: 100%;
  }
}